---
layout: default
---

<h1>The Multi-Agent Programming Contest</h1>

<h2>News</h2>

<ul>
  {% for post in site.posts limit:3 %}
    <li>
      <strong>
        {% if post.read_more %}
          <a href="{{ post.url }}"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d.%m.%Y" }}:</time> {{ post.title }}:</a>
        {% else %}
          <time datetime="{{ post.date | date: "%Y.%m.%d" }}">{{ post.date | date: "%d.%m.%Y" }}:</time> {{ post.title }}:
        {% endif %}
      </strong>
      {{ post.excerpt | strip_html | strip_newlines }}
      {% if post.read_more %}<a href="{{ post.url }}">Read more.</a>{% endif %}
    </li>
  {% endfor %}
</ul>

<a href="/feed.xml">Subscribe via RSS</a></p>

<h2>Agent Contest 2016: Agents in the City</h2>

<img src="/2016/banner.png" alt="Agents in the City">

{% include_relative 2016/_schedule.html %}

<div class="actions">
  <a href="/2016/getting-started/">Getting started</a>
</div>

<h2><a name="aims-and-scope">Aims and Scope</a></h2>

{% capture aims_and_scope %}{% include_relative _aims_and_scope.md %}{% endcapture %}
{{ aims_and_scope | markdownify }}

<h2><a name="history">History</a></h2>

{% capture history %}{% include_relative _history.md %}{% endcapture %}
{{ history | markdownify }}
