---
layout: default
---

<h1>The Multi-Agent Programming Contest</h1>

<h2>News</h2>

<ul class="news">
  {% for post in site.posts limit:4 %}
    <li>
      <strong>
        {% if post.read_more %}
          <a href="{{ post.url }}"><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%d.%m.%Y" }}:</time> {{ post.title }}:</a>
        {% else %}
          <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%d.%m.%Y" }}:</time> {{ post.title }}:
        {% endif %}
      </strong>
      {{ post.excerpt | strip_newlines }}
      {% if post.read_more %}<a href="{{ post.url }}">Read more.</a>{% endif %}
    </li>
  {% endfor %}
</ul>

<div class="centered">
  <a href="/feed.xml" class="rss">Subscribe via RSS</a>
</div>

<h2 id="aims-and-scope">Aims and Scope</h2>

{% capture aims_and_scope %}{% include_relative _aims_and_scope.md %}{% endcapture %}
{{ aims_and_scope | markdownify }}

<h2 id="history">History</h2>

{% capture history %}{% include_relative _history.md %}{% endcapture %}
{{ history | markdownify }}
