<!DOCTYPE html>

<html lang="en">
  <!-- Source: https://github.com/agentcontest/agentcontest.github.io -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" href="/feed.xml">
  </head>
  <body>
    <header>
      <a href="/" id="mapc-title">
        <img src="/mapc-logo-2020.png" width="128" height="128" alt="">
        <span>Multi-Agent Programming Contest</span>
      </a>
      <nav>
        <ul>
          <li><a href="/" title="The Multi-Agent Programming Contest">MAPC</a></li>
          <li><strong><a href="/2020/" title="15th edition">Ongoing Contest</a></strong></li>
          <li><a href="/publications/">Publications</a></li>
          <li><a href="/massim-in-teaching/">MASSim in Teaching</a></li>
          <li><a href="/#history">History</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {{ content }}
      <a href="#top" id="back-to-top" title="Back to top">&#8593;</a>
    </main>
    <footer>
      <nav>
        <strong>Multi-Agent Programming Contest</strong>
        <ul>
          <li><a href="/publications/">Publications</a></li>
          <li><a href="/massim-in-teaching/">MASSim in Teaching</a></li>
          <li><a href="https://github.com/agentcontest">GitHub</a></li>
          <li><a href="https://twitter.com/AgentContest">Twitter</a></li>
        </ul>
        <ul>
          <li><a href="/2020/" title="15th edition">2020/21</a></li>
          <li><a href="/2019/" title="14th edition">2019</a></li>
          <li><a href="/2018/" title="13th edition">2018</a></li>
          <li><a href="/2017/" title="12th edition">2017</a></li>
          <li><a href="/2016/" title="11th edition">2016</a></li>
          <li><a href="/2014/" title="10th edition">2014</a></li>
          <li><a href="/2013/" title="9th edition">2013</a></li>
          <li><a href="/2012/" title="8th edition">2012</a></li>
          <li><a href="/2011/" title="7th edition">2011</a></li>
          <li><a href="/2010/" title="6th edition">2010</a></li>
          <li><a href="/2009/" title="5th edition">2009</a></li>
          <li><a href="/2008/" title="4th edition">2008</a></li>
          <li><a href="/2007/" title="3rd edition">2007</a></li>
          <li><a href="/2006/" title="2nd edition">2006</a></li>
          <li><a href="/2005/" title="1st edition">2005</a></li>
        </ul>
        <ul>
          <li><a href="/imprint/">Imprint and Organizers</a></li>
          <li><a href="/steering-committee/">Steering Committee</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
