<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <header>
      <nav class="wrapper">
        <img src="/mapc-logo-2015.png" alt="Multi-Agent Programming Contest">
        <ul>
          <li><a href="/">Getting started 2016</a></li>
          <li><a href="/publications/">Publications</a></li>
          <li><a href="/massim-in-teaching/">MASSim in Teaching</a></li>
          <li><a href="/#history">History</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="wrapper">
        {{ content }}
      </div>
      <a href="#top" id="back-to-top">&#8593;</a>
    </main>

    <footer>
      <nav class="wrapper">
        <strong>Multi-Agent Programming Contest</strong>
        <ul>
          <li><a href="/publications/">Publications</a></li>
          <li><a href="/massim-in-teaching/">MASSim in Teaching</a></li>
        </ul>
        <ul>
          <li><a href="/2016/">2016</a></li>
          <li><a href="/2014/">2014</a></li>
          <li><a href="/2013/">2013</a></li>
          <li><a href="/2012/">2012</a></li>
          <li><a href="/2011/">2011</a></li>
          <li><a href="/2010/">2010</a></li>
          <li><a href="/2009/">2009</a></li>
          <li><a href="/2008/">2008</a></li>
          <li><a href="/2007/">2007</a></li>
          <li><a href="/2006/">2006</a></li>
          <li><a href="/2005/">2005</a></li>
        </ul>
        <ul>
          <li><a href="/imprint/">Imprint and Organizers</a></li>
          <li><a href="/steering-committee/">Steering Committee</a></li>
        </ul>
      </nav>
    </footer>

  </body>

</html>
