<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <footer>
      <div class="wrapper">
        <strong>Multi-Agent Programming Contest</strong>
        <ul>
          <li><a href="/imprint/">Imprint and Organizers</a></li>
          <li><a href="/steering-committee/">Steering Committee</a></li>
        </ul>
      </div>
    </div>

  </body>

</html>
