---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <h1 itemprop="name headline">{{ page.date | date: "%d.%m.%Y" }}: {{ page.title }}</h1>
  </header>

  <div itemprop="articleBody">
    {{ content }}
  </div>

  <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%d.%m.%Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
</article>
